/* --------------------------------------------------------------

STYLE SCSS
Author:
Date:
Author_URL:

-------------------------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* --------------------------------------------------------------
BASE CSS
-------------------------------------------------------------- */
textarea {
  overflow: auto; }

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend {
  margin-left: -7px; }

/* Align checkboxes,radios,text inputs with their label by:Thierry Koblentz tjkdesign.com/ez-css/css/base.css */
input[wtype="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* --------------------------------------------------------------

CSS3 Mixins for SASS

-------------------------------------------------------------- */
/* --------------------------------------------------------------

TYPOGRAPHY CSS

-------------------------------------------------------------- */
/* Declare your base font families here */
body {
  font-size: 14px;
  line-height: 20px;
  color: #333; }

/* Default fonts and colors. */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea {
  font-family: "Gill sans", "Myriad Pro", Myriad, Helvetica, Arial, sans-serif; }

/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 10px; }

h1 {
  font-size: 40px;
  line-height: 1; }

h2 {
  font-size: 35px;
  line-height: 1; }

h3 {
  font-size: 30px;
  line-height: 1; }

h4 {
  font-size: 25px;
  line-height: 1; }

h5 {
  font-size: 20px;
  line-height: 1; }

h6 {
  font-size: 15px;
  line-height: 1; }

/* Text elements
-------------------------------------------------------------- */
p {
  margin-bottom: 10px; }

ul, ol {
  margin-bottom: 20px; }

ul {
  list-style-type: circle; }

ol {
  list-style-type: decimal; }

li {
  margin-bottom: 5px; }

dl {
  margin-bottom: 10px; }

dl dt {
  font-weight: bold;
  margin-bottom: 10px; }

dl dd {
  margin-bottom: 10px; }

abbr, acronym {
  border-bottom: 1px dotted #000; }

address {
  font-style: italic; }

del {
  color: #000; }

a {
  color: #1c7fc4;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

dfn {
  font-weight: bold; }

pre, code {
  margin: 10px 0;
  white-space: pre; }

pre, code, tt {
  font: 1em monospace;
  line-height: 1.5; }

tt {
  display: block;
  margin: 10px 0;
  line-height: 1.5; }

q {
  font-style: italic;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-size: 16px;
  font-weight: bold; }

cite {
  display: block;
  font-weight: bold;
  font-family: "Gill sans", "Myriad Pro", Myriad, Helvetica, Arial, sans-serif;
  margin: 10px 0; }

/* Images
-------------------------------------------------------------- */
img {
  margin-bottom: 20px; }

/* --------------------------------------------------------------

TABLES

-------------------------------------------------------------- */
table {
  margin-bottom: 10px;
  width: 100%; }

th {
  font-weight: bold;
  text-align: left;
  background: #ccc; }

th, td {
  padding: 10px; }

tr:nth-child(odd) {
  background-color: #f5f5f5; }

tr:nth-child(even) {
  background-color: #eee; }

tfoot {
  font-style: italic; }

caption {
  background: #ffc; }

/* --------------------------------------------------------------

MEDIA QUERIES
Media queries for common devices

-------------------------------------------------------------- */
/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}
/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {}
/* --------------------------------------------------------------

Colors

-------------------------------------------------------------- */
/* --------------------------------------------------------------

General Classes

-------------------------------------------------------------- */
.serif {
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-style: italic;
  color: #555555; }

.clear {
  clear: both; }

.center {
  text-align: center; }

.uppercase {
  text-transform: uppercase; }

.titlecase {
  text-transform: capitalize; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* --------------------------------------------------------------

HTML5

-------------------------------------------------------------- */
section {
  margin-bottom: 20px;
  overflow: hidden;
  border-bottom: 1px solid #CCC;
  padding-bottom: 10px; }

/* --------------------------------------------------------------

Layout

-------------------------------------------------------------- */
body {
  background: #FFF; }

#container {
  width: 940px;
  margin: 20px auto;
  overflow: hidden; }

/* --------------------------------------------------------------

Columns

-------------------------------------------------------------- */
.col {
  margin-right: 20px;
  float: left; }

.whole {
  width: 940px;
  margin-right: 0; }

.half {
  width: 460px; }

.third {
  width: 300px; }

.fourth {
  width: 220px; }

.fifth {
  width: 172px; }

.sixth {
  width: 140px; }

.last {
  margin-right: 0; }
